{% extends 'base.html' %}

{% block content %}
<div class="titulo">
    <h1>Lista de Sistemas </h1>
</div>
        
<div class="container">
    <div class="row" >         
        <div class="table-responsive">      
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Projeto</th>
                    <th scope="col">Versão Fechada</th>
                    <th scope="col"></th>
                </tr>
                </thead>                 
                <tbody>
                {% for project in projects %} 
                <tr>
                    <td>{{ project.projeto }}</td>
                    <td>{{ project.ultimaversao }}</td>
                    <td>
                        <a class="btn btn-info" href="{% url 'detalhe_projeto' project.id %}" role="button">Detalhes</a>
                        <a class="btn btn-danger" href="http://redmine.pandora.com.br/projects/{{ project.identificador }}" target="_blank" role="button">Redmine</a>
                    </td>
                </tr>                
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>  
{% endblock %}

