{% extends 'base.html' %}

{% block content %}  
<div class="container">
    <div class="subtitulo">
        <h1>Versão  {{ nomeVersao }}</h1>
        <p>Ultima versão de cada sistema ate esta versão</p>
    </div>
    <div class="row" >         
        <div class="table-responsive">      
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Projeto</th>
                    <th scope="col">Versão</th>
                </tr>
                </thead>                 
                <tbody>
                {% for base in baseline %} 
                <tr>
                    <td>{{ base.nome }}</td>
                    <td>{{ base.versao }}</td>
                </tr>                
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>  
{% endblock %}
