h1, h2, h3, h4 {
    font-family: Fantasy, Sans-serif;
}

.body-center {
    text-align: center;
}

.page-header {
    background-color: #107481;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.titulo {
    color: #2c2c2c;
    margin-top: 50px;
    text-align: center;
}

.left {
    text-align: left;
}

.list-group-item {
    background-color: #dbdafa;
    text-align: center;
}

.form-control {
    display: inherit;
}
